<div class="basket-desc">
    <h1>Your Basket</h1>
    <p>Items you have added to your basket are shown below.
Adjust the quantities or remove items before continuing your purchase.</p>
</div>
<!--<div class="basket-head">
    <span class="item-col">Product</span>
    <span class="item-col">Price</span>
    <span class="item-col">Qty</span>
    <span class="item-col">Cost</span>
</div>
<div class="basket-row" >
    <div ng-repeat="item in product.ProductItems">
        <span class="item-col prod">{{item.item}}</span>
        <span class="item-col price">{{product.CurrencySymbol + item.price}}</span>
        <span class="item-col qty"><input type="number" value="{{item.quantity}}" ng-change="product.CalculateCost(item.price, item.quantity)"/></span>
        <span class="item-col cost">{{}}</span>
        <span class="item-col remove"><a href="#" ng-click="product.RemoveItem($index)"><img src="images/delete.png" alt="delete the item"/></a></span>
    </div>
</div>-->
<table class="basket">
    <tr class="basket-head">
        <th class="item-col prod">Product</th>
        <th class="item-col price">Price</th>
        <th class="item-col qty">Qty</th>
        <th class="item-col cost">Cost</th>
       
    </tr>
    <tr class="basket-row" ng-repeat="item in product.ProductItems">
        <td class="item-col prod">{{item.item}}</td>
        <td class="item-col price">{{product.CurrencySymbol + item.price}}</td>
        <td class="item-col qty"><input type="number" value="{{item.quantity}}" ng-change="product.CalculateCost(item.price, item.quantity)"/></td>
        <td class="item-col cost">{{}}</span>
        <td class="item-col remove"><span href="#" ng-click="product.RemoveItem($index)"><img src="images/delete.png" alt="delete the item"/></span></td>
    </tr>
</table>          