body {
}

* {
    padding: 0px;
    margin: 0px;
}

/*----- global styles -------*/
input[type="text"] {
    box-sizing: border-box;
    color: #ccc;
    font-size: 12px;
    font-weight: 400;
    height: 50px;
    outline: none;
    box-shadow: none;
    line-height: 30px;
    border-radius: 0;
    border: 1px solid #fff;
}

input[type=submit] {
    padding: 12px;
    border: none;
    background: #fff;
    color: #6e6e6e;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
}

    input[type=submit]:hover {
        background-color:#424242;
        color:#fff;
    }

/*----- Common -----*/
.pos-rel {
    position: relative;
}
/*------------------*/

.logo-box {
    padding: 50px 0;
}

.slogn {
    font-size: 12px;
    letter-spacing: 8px;
    line-height: 24px;
    display: block;
}


#nav ul li {
    float: none;
    display: inline-block;
    line-height: normal;
    position: relative;
    padding: 15px 3px;
}

    #nav ul li:hover {
        background-color: #e7e7e7;
    }

    #nav ul li a {
        padding: 0;
        display: block;
        background: none;
        color: #424242;
        line-height: normal;
    }

.banner img {
    width: 100%;
}

.over-banner {
    background-color: #fff;
    position: absolute;
    left: 33%;
    top: 0px;
    width: 33%;
    height: 100%;
    opacity: 0.9;
    vertical-align: middle;
    padding: 80px 0px;
}

    .over-banner h1 {
        line-height: 1.5;
        text-transform: uppercase;
        font-weight: 600;
        border-top: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
    }

.panel .mid h1 span {
    display: block;
    letter-spacing: 14px;
}


.banner-head span, .banner-foot span {
    font-size: 14px;
    font-style: italic;
    padding: 25px 0px;
}


    .banner-head span:first-child:after, .banner-foot span:first-child:after {
        content: '/';
    }

.updates {
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    padding: 20px;
    background: #e7e7e7;
}

.owl-wrapper img {
    width: 100%;
}

.cat-content{
    padding:10px;    
}

.display-table{
   display: table;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
}

.cat-banner {
   background-color: #fff;
    position: absolute;
    left: 4%;
    top: 6%;
    width: 93%;
    opacity: 0.9;
    display: table-cell;
    vertical-align: middle;
    padding: 15px 0px;
}

    .cat-banner h1 {
        line-height: 1.5;
        text-transform: uppercase;
        font-weight: 600;
        border-top: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
    }

.panel .mid h1 span {
    display: block;
    letter-spacing: 10px;
}

.cat-banner-head, .cat-banner-foot{
    padding:14px 0px;
}

.cat-banner-head span, .cat-banner-foot span {
    font-size: 12px;
    font-style: italic;
}

    .cat-banner-head span:first-child:after, .cat-banner-foot span:first-child:after {
        content: '/';
    }

    .cat-banner .mid{
        line-height: 26px;
        font-size: 16px;
    }
